@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .my-container {
    @apply max-w-8xl w-full mx-auto px-6 xl:px-0;
  }
  .form-control {
    @apply block w-full px-2 py-2 transition duration-100 ease-in-out border rounded shadow-sm focus:ring-2 focus:ring-blue-500 focus:outline-none focus:ring-opacity-50 disabled:opacity-50 disabled:cursor-not-allowed text-black placeholder-gray-400 bg-white border-gray-300 focus:border-blue-500;
  }
  .form-input {
    @apply form-control h-9 py-0;
  }
}

:root {
  /* font-family: 'Roboto Slab', serif; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Inter Tight', sans-serif;
}

/* scroll bar */
::-webkit-scrollbar {
  /* width: 10px; */
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #3b82f6;
  /* background-image: linear-gradient(rgb(37, 99, 235), rgb(168, 85, 247), rgb(216, 180, 254)) */
}
::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}
::-webkit-scrollbar-track {
  /* margin: 10px 0; */
  background-color: #dbdbdb;
  border-radius: 10px;
}
